@import url('file:///usr/share/lightdm-webkit/themes/SpectrumOS/css/colors.css');

html,body {
    height: 100%;
    width: 100%;
    font-family: "Source Code Pro", monospace;
    margin: 0;
    background-image: url(/usr/local/backgrounds/background.png);
    background-size: cover;
}

/* Logo */
.logo {
    position: fixed;
    right: 130px;
    top:0;
}
.logo svg {
    width: 100px;
    position: absolute;
    top: -50px;
}

svg {
    filter: drop-shadow(1px 1px 2px var(--color7));
}

h1 {
    font-size: 2em;
    color: var(--color7);
    text-align: center;
    margin-top: 50px;
    background-color: var(--color0);
    padding:5px;
    border-radius:5px;
    font-family: "Source Code Pro", monospace;
}

h2 {
    font-size: 2em;
    color: var(--color0);
    text-align: center;
    margin-top: 50px;
    background-color: var(--color1);
    padding:5px;
    border-radius:5px;
    font-family: "Source Code Pro", monospace;
}

.card-header{
    background-color: var(--color2);
    color: var(--color0);
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    font-size: 1.5em;
    text-align: center;
    margin-top:50px;
}

.list-group{
    border-radius: 5px;
    background-color: var(--color0);
}

.list-group-item{
    background-color: var(--color0);
    color: var(--color1);
    border-radius: 5px;
    margin: 5px;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -11px;
    text-align: center;
    width:100%;
    font-size: 1.2em;
}

a {
    color: var(--color1);
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--color2);
    text-decoration: underline;
}