@import url('/usr/share/lightdm-webkit/themes/SpectrumOS/css/colors.css');
@import url('/Users/gibranlp/.cache/wal/colors.css');


html,body {
    height: 100%;
    width: 100%;
    font-family: "Courier Prime";
    margin: 0;
    background-image: 
      url(/usr/local/backgrounds/background.png), 
      url(/Users/gibranlp/.cache/wal/background.png),
      url(../background.png);
    background-size: cover;
    background-attachment: fixed;
}

.row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

h1, h2, .card-header, .list-group-item, a {
    transition: all 0.3s ease-in-out;
}

h1 {
    font-size: 2em;
    color: var(--color0);
    text-align: center;
    margin-top: 50px;
    background-color: var(--color7);
    padding:5px;
    border-radius:5px;
    font-family: "Source Code Pro", monospace;
}

h2 {
    font-size: 2em;
    color: var(--color0);
    text-align: center;
    padding:5px;
    border-radius:5px;
    font-family: "Source Code Pro", monospace;
    font-weight: 700;
    backdrop-filter: blur(10px);
    text-shadow: 1px 1px var(--color7);
    
}

.bookmarks{
  border:2px solid var(--color3),
}

.card-header{
    background-color: var(--color0);
    color: var(--color4);
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    font-size: 1.2em;
    text-align: center;
    font-weight: 500;
    border:2px solid var(--color4),
}

.list-group{
    border-radius: 5px;
}

.list-group-item{
    color: var(--color1);
    border-radius: 5px;
    margin-top: -7%;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -11px;
    text-align: center;
    width:100%;
    font-size: 1em;
}

.list-group-item:nth-child(odd) a{
    color: var(--color0);
    text-decoration: none;
    background-color: var(--color3);
    display: block;
    border-radius: 5px;
    padding: 5px;
    border:2px solid var(--color0),
}

.list-group-item:nth-child(even) a{
  color: var(--color0);
  text-decoration: none;
  background-color: var(--color1);
  display: block;
  border-radius: 5px;
  padding: 5px; 
  border:2px solid var(--color0),
}

.list-group-item a:hover{
  color: var(--color2);
  text-decoration: none;
  background-color: var(--color0);
  display: block;
  border-radius: 5px;
  padding: 5px;
  border:2px solid var(--color7),
}

#svgContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    left: 64px;
    top: 60px;
  }

#svgContainer svg {
    position: absolute;
    transition: all 0.3s ease;
}
svg {
     filter: drop-shadow(1px 1px 2px var(--color7));
     transition: all 0.3s ease;
}

.title {
    text-shadow: 0px 0px 6px var(--color0), 0 0 5px var(--color1), 0 0 5px var(--color7);
    font-size: 2em;
    line-height:1.5em;
    font-family:"La Machine Company";
    background-color:#00000000;
    margin-top:123px;
    margin-left:-92px;

}

/* Logo */
.logo {
    position: fixed;
    right: 130px;
    top:0;
}
.logo svg {
    width: 100px;
    position: absolute;
    top: -50px;
}

svg {
    filter: drop-shadow(1px 1px 2px var(--color7));
    width:150px;
    height: 150px;
}

.svg-icon {
    position: absolute;
  }
  
  .svg1 {
    left: -75px;
    top: -40px;
  }
  
  .svg2 {
    left: -72px;
    top: -37px;
  }
  
  .svg3 {
    left: -69px;
    top: -34px;
  }
  
  .svg4 {
    left: -66px;
    top: -31px;
  }
  
  .svg5 {
    left: -63px;
    top: -28px;
  }
  
  .svg6 {
    left: -60px;
    top: -25px;
  }
  
  .svg7 {
    left: -57px;
    top: -22px;
  }
  
  .svg8 {
    left: -54px;
    top: -19px;
  }

  .svg1, .svg2, .svg3, .svg4, .svg5, .svg6, .svg7, .svg8 {
    transition: left 0.3s ease, top 0.3s ease; /* Smooth movement of SVG icons */
}

/*   */

@media screen and (max-width: 1920px) {

  svg {
      filter: drop-shadow(1px 1px 2px var(--color7));
      width:100px;
      height: 100px;
  }

  .title {
      margin-top:73px;
  }

  .svg1 {
      left: -56px;
      top: -36px;
    }
    
    .svg2 {
      left: -54px;
      top: -32px;
    }
    
    .svg3 {
      left: -54px;
      top: -30px;
    }
    
    .svg4 {
      left: -52px;
      top: -28px;
    }
    
    .svg5 {
      left: -50px;
      top: -26px;
    }
    
    .svg6 {
      left: -48px;
      top: -24px;
    }
    
    .svg7 {
      left: -46px;
      top: -22px;
    }
    
    .svg8 {
      left: -44px;
      top: -20px;
    }
}

@media screen and (max-width: 1500px) {

    svg {
        filter: drop-shadow(1px 1px 2px var(--color7));
        width:100px;
        height: 100px;
    }

    .title {
        margin-top:73px;
    }

    .svg1 {
        left: -56px;
        top: -36px;
      }
      
      .svg2 {
        left: -54px;
        top: -32px;
      }
      
      .svg3 {
        left: -54px;
        top: -30px;
      }
      
      .svg4 {
        left: -52px;
        top: -28px;
      }
      
      .svg5 {
        left: -50px;
        top: -26px;
      }
      
      .svg6 {
        left: -48px;
        top: -24px;
      }
      
      .svg7 {
        left: -46px;
        top: -22px;
      }
      
      .svg8 {
        left: -44px;
        top: -20px;
      }
}

@media screen and (max-width: 990px) {

  .list-group-item {
    margin-top: -4%;
}
}

@media screen and (max-width: 768px) {

.list-group-item{
    margin-top:-5%;
}

}