# Default gromit-mpx configuration
# taken from  Totem's telestrator mode config
# added default entries

# Uncomment to set Hot key and/or Undo key to a custom value. Note that you can only specify single keysyms, not key combos.
# HOTKEY = "F9";
# UNDOKEY = "F8";

"aqua Pen" = PEN (size=5 color="aqua");				
"red Pen" = "red Pen" (color="red");				
"yellow Pen" = "red Pen" (color="yellow");			
"green Marker" = PEN (size=6 color="green" arrowsize=1);		
									
"Eraser" = ERASER (size = 150);					
									
"default" = "aqua Pen";						
"default"[SHIFT] = "red Pen";					
"default"[CONTROL] = "yellow Pen";				
"default"[2] = "green Marker";					
"default"[Button3] = "Eraser";		